#chartdiv {
    width: 100%;
    height: 500px;
}

.banktext {
    font-size: 200%;
}
.chart-text-150 {
    font-size: 150%;
}


.top_db_img {
    margin-top: .5rem;
    max-height: 100px;
    max-width: 100px;
}

.section-new-businesses {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 150px;
    float: left;
    white-space: nowrap;
}

.all-businesses {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 500px;
    float: left;
}

.all-add-ons {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 350px;
}


.business-page-image {
    max-width: 400px
}

.item-upgrade {
    width: 100%;
    margin: 1rem 0;
}
    .item-upgrade-img {
        width: 80px;
        height: 80px;
        display: inline-block;
        vertical-align: top;
    }

.business-upgrade-btn {
    width: 100%;
    float: right;
}

.business-upgrade-btn-info {
    font-size: 2rem;
    font-weight: bold;
    display: block;
    text-align: center
}

.business-level-info {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.dashboard-level-text {
    font-size: 90%;
}

