<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/Empire_App/css/styles.css">
    <title>Yay! {{ this_business.name }}</title>
</head>
<body>
    <div class="container">
        <div class="row p-1">
            <div class="col-4">
                <h3 class="mt-1 mb-0">Welcome {{ request.session.logged_in_username }}!</h3>
                <a class="font-weight-bold" href="/dashboard">Dashboard</a>
                <a class="ml-2 font-weight-bold" href="/process_log_out">Log out</a>
            </div>
            <div class="col-4">
                <h3 class="mt-1 d-inline">Net Worth: </h3>
                <h3 class="text-success banktext d-inline ml-2">{{ logged_in_user.net_worth }}</h3>
            </div>
            <div class="col-4">
                <h3 class="mt-1 d-inline">Bank Funds: </h3>
                <h3 class="text-success banktext d-inline ml-2">{{ logged_in_user.balance }}</h3>
            </div>
        </div>
        <h3 class="text-dark mt-4 text-center rounded p-3 font-weight-bold" style="background-color: {{ related_market.color }};">{{ this_business.name }}</h3>
        <div class="row mt-3">
            <div class="col-5">
                <img src="{{ business_type.image_url }}" alt="{{ this_business.name }}" class="business-page-image d-block">
            </div>
            <div class="col-7">
                <div class="p-3 rounded text-center mb-2" style="border: 1px solid {{ related_market.color }};">
                    <h3 class="text-dark">Level {{ this_business.level }} {% if this_business.level == 3 %}(Maxed!){% endif %}</h3>
                    {% if this_business.level < 3 %}
                    <p class="mb-0">Next level adds: ${{ business_type.revenue_per_minute }} revenue per minute</p>
                    {% endif %}
                </div>
                <div class="all-add-ons mb-3" style="border-bottom: 1px solid {{ related_market.color }};">
                    <div class="all-upgrades">
                        {% for add_on_type in this_business_addon_types %}
                        <div class="row item-upgrade p-2"> 
                            <img src="{{ add_on_type.image_url }}" alt="{{ add_on_type.name }}" class="item-upgrade-img">
                            <div class="col">
                                <h3 class="d-inline font-weight-bold">{{ add_on_type.name }}</h3>
                                    {% if add_on_type.id in unowned_addon_list %}
                                        <a href="/process_buy_addon/{{ this_business.id }}/{{ add_on_type.id }}" class="btn btn-primary float-right"> Buy {{ add_on_type.name }}: ${{ add_on_type.cost }}</a>
                                    {% endif %}
                                <p class="mb-0">(Adds ${{ add_on_type.revenue_per_minute }} revenue per minute)</p>
                                <p class="font-weight-bold">{{ add_on_type.description }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-5">
                <h3 class="text-center">Revenue per minute: ${{ this_business.revenue_per_minute }}</h3>
                <h3 class="text-center">Current Value: ${{ this_business.value }}</h3>
            </div>
            <div class="col-3 mx-4">
                <a href="/process_sell_business/{{ this_business.id }}" class="btn btn-success text-center business-upgrade-btn">Sell Business:<span class="business-upgrade-btn-info">${{ this_business.value }}</span></a>
                <p class="text-danger text-center">Purchased For: ${{ this_business.bought_for }}</p>
            </div>
            <div class="col-3">
                {% if this_business.level < 3 %}
                <a href="/process_buy_upgrade/{{ this_business.id }}" class="btn btn-primary text-center business-upgrade-btn">Upgrade to Next level:<span class="business-upgrade-btn-info">${{ business_type.default_value }}</span></a>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>