<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/Empire_App/css/styles.css">
    <title>Empire Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="row p-1">
            <div class="col">
                <h3 class="d-inline"><a class="mr-3" href="#menu">&#9776;</a>Welcome User!</h3>
                <a class="ml-3" href="/log_out">Log out</a>
            </div>
            <div class="col">
                <h3 class="text-success font-weight-bold banktext float-right">3,000</h3>
                <h3 class="float-right mr-5">Bank account: </h3>

            </div>
        </div>
        <div class="row section-new-businesses">
            <img class="top_db_img img-thumbnail" src="static/Empire_App/images/lemonade_stand.jpg">
            <img class="top_db_img img-thumbnail" src="static/Empire_App/images/lemonade_stand.jpg">
            <img class="top_db_img img-thumbnail" src="static/Empire_App/images/lemonade_stand.jpg">
            <img class="top_db_img img-thumbnail" src="static/Empire_App/images/lemonade_stand.jpg">
            <img class="top_db_img img-thumbnail" src="static/Empire_App/images/lemonade_stand.jpg">
            <img class="top_db_img img-thumbnail" src="static/Empire_App/images/lemonade_stand.jpg">
            <img class="top_db_img img-thumbnail" src="static/Empire_App/images/lemonade_stand.jpg">
            <img class="top_db_img img-thumbnail" src="static/Empire_App/images/lemonade_stand.jpg">
            <img class="top_db_img img-thumbnail" src="static/Empire_App/images/lemonade_stand.jpg">
        </div>
        <div class="all-businesses mt-3">
            <h4>My Businesses:</h4>
            <div class="row mt-1 p-1">
                <div class="col-2">
                    <img class="top_db_img img-thumbnail " src="static/Empire_App/images/lemonade_stand.jpg">
                </div>
                <div class="col-10">
                    <p>Total Revenue per minute: $1</p>
                    <p>Revenue collected so far: $300</p>
                </div>
            </div>
            <div class="row mt-1 p-1">
                    <div class="col-2">
                    <img class="top_db_img img-thumbnail" src="static/Empire_App/images/lemonade_stand.jpg">
                </div>
                <div class="col-10">
                    <p>Total Revenue per minute: $1</p>
                    <p>Revenue collected so far: $300</p>
                </div>
            </div>
            <div class="row mt-1 p-1">
                    <div class="col-2">
                    <img class="top_db_img img-thumbnail" src="static/Empire_App/images/lemonade_stand.jpg">
                </div>
                <div class="col-10">
                    <p>Total Revenue per minute: $1</p>
                    <p>Revenue collected so far: $300</p>
                </div>
            </div>
            <div class="row mt-1 p-1">
                    <div class="col-2">
                    <img class="top_db_img img-thumbnail" src="static/Empire_App/images/lemonade_stand.jpg">
                </div>
                <div class="col-10">
                    <p>Total Revenue per minute: $1</p>
                    <p>Revenue collected so far: $300</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>