<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/Empire_App/css/styles.css">
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <title>Empire Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="row p-1">
            <div class="col-4">
                <h3 class="mt-1 mb-0">Welcome {{ request.session.logged_in_username }}!</h3>
                <a class="font-weight-bold" href="/process_log_out">Log out</a>
            </div>
            <div class="col-4">
                <h3 class="mt-1 d-inline">Net Worth: </h3>
                <h3 class="text-success banktext d-inline ml-2">{{ logged_in_user.net_worth }}</h3>
            </div>
            <div class="col-4">
                <h3 class="mt-1 d-inline">Bank Funds: </h3>
                <h3 class="text-success banktext d-inline ml-2">{{ logged_in_user.balance }}</h3>
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-5 p-3">
                <a href="/market" class="d-block h-100 w-100 btn btn-danger"><h2 class="mt-5">View Markets</h2></a>
            </div>
            <div class="col-7">
                <h4>Buy Businesses:</h4>
                <div class="section-new-businesses">
                    {% for business_type in all_business_types %}
                        <a href="/buy_business/{{ business_type.id }}"><img class="top_db_img img-thumbnail" src="{{ business_type.image_url }}"></a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="all-businesses mt-3 col-6">
            <h4>My Businesses:</h4>
            {% for business in logged_in_user.businesses.all %}
            <div class="row mt-1 p-1 border-top border-secondary">
                    <div class="col-3">
                    <img class="top_db_img img-thumbnail" src="{{ business.business_type.image_url }}">
                </div>
                <div class="col-4 mt-3">
                    <a href="/process_sell_business/{{ business.id }}" class="btn btn-primary btn-sm btn-block">Sell: ${{ business.value }}</a>
                    <a href="/business/{{ business.id }}" class="btn btn-info btn-sm btn-block">View Business</a>
                </div>
                <div class="col-5 mt-3">
                    <p class="dashboard-level-text">Total Revenue per minute: ${{ business.revenue_per_minute }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-6 float-left mt-3">
            <h4>Business Info:</h4>
            <div id="chartdiv" style="width: 600px; height: 500px;"></div>
        </div>
    </div>
</body>
</html>