<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/Empire_App/css/styles.css">
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <title>Empire Market!</title>
</head>
<body>
    
    <div class="container">
        <div class="row p-1">
            <div class="col">
                <h3 class="d-inline"><a class="mr-3" href="#menu">&#9776;</a>Welcome User!</h3>
                <a class="ml-4" href="/process_log_out">Log out</a>
                <a class="ml-2" href="/dashboard">Dashboard</a>
            </div>
            <div class="col">
                <h3 class="text-success font-weight-bold banktext float-right ml-1">23,000</h3>
                <h3 class="float-right mr-3 mt-1">Net Worth: </h3>
            </div>
            <div class="col">
                <h3 class="text-success font-weight-bold banktext float-right ml-1">3,000</h3>
                <h3 class="float-right mr-3 mt-1">Bank account: </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mt-3">
                <h4>Market Info:</h4>
                <div>
                    <div class="col-3">
                        <img class="top_db_img img-thumbnail float-left" src="static/Empire_App/images/lemonade_stand.jpg">
                    </div>
                    <div class="col-4 float-left mt-3">
                        <a href="" class="btn btn-primary btn-sm btn-block">Buy:  $8,000</a>
                        <a href="" class="btn btn-info btn-sm btn-block">View Market</a>
                    </div>
                    <div class="col-5 mt-3 float-left">
                        <p class="chart-text-150">Lemonade Market</p>
                    </div>
                </div>
                <div>
                    <div class="col-3">
                        <img class="top_db_img img-thumbnail float-left" src="static/Empire_App/images/lemonade_stand.jpg">
                    </div>
                    <div class="col-4 float-left mt-3">
                        <a href="" class="btn btn-primary btn-sm btn-block">Buy:  $8,000</a>
                        <a href="" class="btn btn-info btn-sm btn-block">View Market</a>
                    </div>
                    <div class="col-5 mt-3 float-left">
                        <p class="chart-text-150">Ice Cream Market</p>
                    </div>
                </div>
                <div>
                    <div class="col-3">
                        <img class="top_db_img img-thumbnail float-left" src="static/Empire_App/images/lemonade_stand.jpg">
                    </div>
                    <div class="col-4 float-left mt-3">
                        <a href="" class="btn btn-primary btn-sm btn-block">Buy:  $8,000</a>
                        <a href="" class="btn btn-info btn-sm btn-block">View Market</a>
                    </div>
                    <div class="col-5 mt-3 float-left">
                        <p class="chart-text-150">Pizza Market</p>
                    </div>
                </div>
                <div>
                    <div class="col-3">
                        <img class="top_db_img img-thumbnail float-left" src="static/Empire_App/images/lemonade_stand.jpg">
                    </div>
                    <div class="col-4 float-left mt-3">
                        <a href="" class="btn btn-primary btn-sm btn-block">Buy:  $8,000</a>
                        <a href="" class="btn btn-info btn-sm btn-block">View Market</a>
                    </div>
                    <div class="col-5 mt-3 float-left">
                        <p class="chart-text-150">Arcade Market</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="col float-left mt-3">
                    <h4>Market Info:</h4>
                    <div id="chartdiv" style="width: 600px; height: 500px;"></div>
                </div>
            </div>
        </div>
    </div>  
<!-- Chart code -->
<script>
/**
 * ---------------------------------------
 * This demo was created using amCharts 4.
 *
 * For more information visit:
 * https://www.amcharts.com/
 *
 * Documentation is available at:
 * https://www.amcharts.com/docs/v4/
 * ---------------------------------------
 */

/* Create chart instance */
var chart = am4core.create("chartdiv", am4charts.XYChart);

/* Add data */
chart.data = [
  {% for snapshot_row in all_markets.first.snapshots.all %}
    {
    "Time": "{{ snapshot_row.snapshot_datetime }}",
    {% for market in all_markets %}
      "{{ market.id }}": 
      {% for snapshot in market.snapshots.all %}
        {% if snapshot.snapshot_datetime == snapshot_row.snapshot_datetime %}
          {{ snapshot.snapshot_multiplier }},
        {% endif %}
      {% endfor %}
    {% endfor %}
    },
  {% endfor %}
];

/* Create axes */
var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
categoryAxis.dataFields.category = "Time";

/* Create value axis */
var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

/* Create series */
{% for market in all_markets %}
  var series{{ market.id }} = chart.series.push(new am4charts.LineSeries());
  series{{ market.id }}.dataFields.valueY = "{{ market.id }}";
  series{{ market.id }}.dataFields.categoryX = "Time";
  series{{ market.id }}.name = "{{ market.name }}";
  series{{ market.id }}.strokeWidth = 3;
  series{{ market.id }}.tensionX = 0.8;
  series{{ market.id }}.tooltipText = "{categoryX}: [bold]{valueY}[/]";
  series{{ market.id }}.legendSettings.labelText = "Series: [bold {color}]{name}[/]";
  series{{ market.id }}.legendSettings.valueText = "{valueY.close}";
{% endfor %}

/* Add legend */
chart.legend = new am4charts.Legend();

/* Create a cursor */
chart.cursor = new am4charts.XYCursor();
</script>
</body>
</html>