<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/Empire_App/css/styles.css">
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <title>Empire Market!</title>
</head>
<body>
    <div class="container">
        <div class="row p-1">
            <div class="col-4">
                <h3 class="mt-1 mb-0">Welcome {{ request.session.logged_in_username }}!</h3>
                <a class="font-weight-bold" href="/dashboard">Dashboard</a>
                <a class="ml-2 font-weight-bold" href="/process_log_out">Log out</a>
            </div>
            <div class="col-4">
                <h3 class="mt-1 d-inline">Net Worth: </h3>
                <h3 class="text-success banktext d-inline ml-2">{{ logged_in_user.net_worth }}</h3>
            </div>
            <div class="col-4">
                <h3 class="mt-1 d-inline">Bank Funds: </h3>
                <h3 class="text-success banktext d-inline ml-2">{{ logged_in_user.balance }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mt-3">
              <h4>Market Info:</h4>
              {% for market in all_markets %}
                <div class="row">
                    <div class="col-3">
                      <img class="top_db_img img-thumbnail float-left" src="{{ market.business_type.image_url }}">
                    </div>
                    <div class="col-4 float-left">
                      <p class="font-weight-bold">{{ market.business_type.name }}</p>
                      <a href="/process_buy_business/{{ market.business_type.id }}" class="btn btn-primary btn-sm btn-block">Buy: ${% widthratio market.current_multiplier 1 market.business_type.default_value %}</a>
                    </div>
                    <div class="col-5 float-left">{{ market.description }}</div>
                </div>
              {% endfor %}
            </div>
            <div class="col-6 mt-3">
                <h4>Market Info:</h4>
                <div id="chartdiv"></div>
            </div>
        </div>
    </div>  
<!-- Chart code -->
<script>
/**
 * ---------------------------------------
 * This demo was created using amCharts 4.
 *
 * For more information visit:
 * https://www.amcharts.com/
 *
 * Documentation is available at:
 * https://www.amcharts.com/docs/v4/
 * ---------------------------------------
 */

/* Create chart instance */
var chart = am4core.create("chartdiv", am4charts.XYChart);

/* Add data */
chart.data = [
  {% for snapshot_row in all_markets.first.snapshots.all %}
    {
    "Time": "{{ snapshot_row.snapshot_datetime }}",
    {% for market in all_markets %}
      "{{ market.id }}": 
      {% for snapshot in market.snapshots.all %}
        {% if snapshot.snapshot_datetime == snapshot_row.snapshot_datetime %}
          {{ snapshot.snapshot_multiplier }},
        {% endif %}
      {% endfor %}
    {% endfor %}
    },
  {% endfor %}
];

/* Create axes */
var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
categoryAxis.dataFields.category = "Time";

/* Create value axis */
var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

/* Create series */
{% for market in all_markets %}
  var series{{ market.id }} = chart.series.push(new am4charts.LineSeries());
  series{{ market.id }}.dataFields.valueY = "{{ market.id }}";
  series{{ market.id }}.dataFields.categoryX = "Time";
  series{{ market.id }}.name = "{{ market.name }}";
  series{{ market.id }}.strokeWidth = 3;
  series{{ market.id }}.stroke = "{{ market.color }}";
  series{{ market.id }}.tensionX = 0.8;
  series{{ market.id }}.tooltipText = "{categoryX}: [bold]{valueY}[/]";
  series{{ market.id }}.legendSettings.labelText = "[bold]{name}[/]";
  series{{ market.id }}.legendSettings.valueText = "{valueY.close}";
{% endfor %}

/* Add legend */
chart.legend = new am4charts.Legend();

/* Create a cursor */
chart.cursor = new am4charts.XYCursor();
</script>
</body>
</html>